.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*{

  font-family: 'Josefin Sans', sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ctt{

  margin-bottom: 25%;
  font-weight: bold;
  font-size: 3em;
}
.imgabout{

  width: 100%;
}
.imgpo{
 width: 100%;
 margin: 10px;

}
.linehr{

  border: 2px solid;
  width: 25%;
}
.d-block {

  opacity: 0.7;
}
.progress{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.abouttext{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
